.pagehelp {
	background-color: #666; margin-bottom : 20px;
	color: #fff;
	min-height: 160px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.orange {
	background-color: #ff5400; /*#019bdb;*/
}

.green {
	background-color: #63af00;
}

.blue {
	background-color: #008fe2;
}

.purple {
	background-color: #ff00e1;
}

.btn-custom {
	background-color: #abd100;
	color: white;
	border-color: #abd100;
}

.btn-custom:hover,.btn-custom:focus,.btn-custom:active {
	background-color: #C4DF4D;
	border-color: #C4DF4D;
	color: white;
}

#footer {
	font-size: 0.8em;
}

.actionbar {
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}